@model IEnumerable<PQRSenvio.Web.Data.Entities.Case>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assigned_user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_by_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theme_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assigned_user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified_by_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
